development:
  adapter: postgresql
  encoding: unicode
  database: kellys_project
  pool: 5
  username: kellypederson
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: kellys_project
  pool: 5
  username: kellypederson
  password: